<aside>
  <header>
    <h3 ng-bind="$ctrl.item.name"></h3>
  </header>

  <span ng-click="$ctrl.addItem($ctrl.item)"
        class="glyphicon glyphicon-plus">
  </span>

  <span ng-click="$ctrl.deleteItem($ctrl.item)"
        ng-show="$ctrl.item.nodes.length > 0"
        class="glyphicon glyphicon-trash">
  </span>

  <ul class="adminFaqs_data">
    <admin-faqs-tree-node item="data"
                          ng-repeat="data in $ctrl.item.nodes"
                          on-add="$ctrl.addItem($event)"
                          on-delete="$ctrl.deleteItem($event)">
    </admin-faqs-tree-node>
  </ul>
</aside>
