.mediaLibrary
  padding 5px

.mediaLibrary_dropzone
  background #F8F8F8
  border 5px dashed #DDD
  height 80px
  margin 10px
  padding-top 25px
  text-align center
  width 100%

.mediaLibrary_dropzone--dragover
  border 5px dashed #428BCA
