<form name="adminFaqs" ng-submit="$ctrl.saveFaq()">
  <!--<pre>{{$ctrl.question | json}}</pre>-->
  <div class="form-group">
    <label for="question">Pregunta</label>
    <input type="text"
           class="form-control"
           id="question"
           name="question"
           ng-model="$ctrl.question.title">
  </div>

  <label for="answer">Respuesta</label>
  <textarea id="answer"
            ui-tinymce="$ctrl.tinymceOptions"
            ng-model="$ctrl.question.answer">
  </textarea>

  <question-tags tags="$ctrl.question.tags"
                  on-add="$ctrl.addTags($event)"
                  on-delete="$ctrl.addTags($event)">
  </question-tags>

  <div class="form-group">
    <button class="btn btn-default"
            type="button"
            ngf-select
            ng-model="$ctrl.question.files"
            ngf-multiple="true"
            ngf-accept="'image/*'">
      Adjuntar
      <span class="glyphicon glyphicon-paperclip"></span>
    </button>

    <!--<button ngf-select="$ctrl.setFiles($files)"
            multiple
            accept="image/*">Adjuntar</button>-->

    <!--<progress value="0" max="100" id="uploader">0%</progress>-->

  </div>
  <file-list files="$ctrl.question.files"
             on-delete="$ctrl.deleteQuestionFile($event)"
             on-download="$ctrl.downloadQuestionFile($event)">
  </file-list>

  <div uib-collapse="$ctrl.isError">
    <div class="well well-lg">
      <p class="text-danger">
        <span ng-bind="$ctrl.error"></span>
      </p>
    </div>
  </div>

  <hr>

  <button type="submit"
          class="btn btn-primary"
          ng-bind="$ctrl.buttonText"></button>

</form>