<form name="adminFaqs" ng-submit="$ctrl.saveFaq()">
  <pre>{{$ctrl.question | json}}</pre>
  <div class="form-group">
    <label for="question">Pregunta</label>
    <input type="text"
           class="form-control"
           id="question"
           name="question"
           ng-model="$ctrl.question.title">
  </div>

  <label for="answer">Respuesta</label>
  <textarea id="answer"
            ui-tinymce="$ctrl.tinymceOptions"
            ng-model="$ctrl.question.answer">
  </textarea>

  <div class="form-group">
    <label for="tags">Tags</label>
    <input type="text"
           class="form-control"
           id="tags"
           name="tags"
           ng-model="$ctrl.question.tags"
           placeholder="Separados por coma.">
  </div>
  <hr>

  <button type="submit"
          class="btn btn-default"
          ng-bind="$ctrl.buttonText"></button>
</form>

