<form name="adminFaqs" ng-submit="$ctrl.createFaq()">
  <div class="form-group">
    <label for="question">Pregunta</label>
    <input type="text"
           class="form-control"
           id="question"
           name="question"
           ng-model="$ctrl.faq.question">
  </div>
  <div class="form-group">
    <label for="answer">Respuesta</label>
    <input type="text"
           class="form-control"
           id="answer"
           name="answer"
           ng-model="$ctrl.faq.answer">
  </div>
  <button type="submit" class="btn btn-default">Guardar</button>

  <textarea ui-tinymce="$ctrl.tinymceOptions" ng-model="$ctrl.tinymceModel"></textarea>
  <button ng-click="$ctrl.getContent()">Get content</button>
  <button ng-click="$ctrl.setContent()">Set content</button>
</form>

