<nav>
   <md-toolbar layout="row" layout-align="end">

      <md-button class="md-primary md-hue-3"
                 aria-label="openRightMenu"
                 ng-click="$ctrl.openRightMenu()">
         <md-icon md-font-icon="zmdi zmdi-menu zmdi-hc-2x"></md-icon>
      </md-button>

   </md-toolbar>

   <md-sidenav md-component-id="right" class="md-sidenav-right">
      <md-content layout="column">
         <md-button class="md-primary"
                    aria-label="::state"
                    ng-repeat="state in ::$ctrl.states track by $index"
                    ng-click="$ctrl.goTo(state)"
                    ng-bind="::state">
         </md-button>
      </md-content>
   </md-sidenav>
</nav>