<section class="dashboard">
  <admin-nav></admin-nav>

  <div class="container-fluid">
    <div class="row">
      <admin-sidebar></admin-sidebar>
      <div ui-view class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 dashboard_section">
        <h1 class="page-header">Dashboard</h1>

        <div class="row placeholders">
          <div class="col-xs-6 col-sm-3 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                 class="img-responsive" alt="Generic placeholder thumbnail" height="200" width="200">
            <h4>Label</h4>
            <span class="text-muted">Something else</span>
          </div>
          <div class="col-xs-6 col-sm-3 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                 class="img-responsive" alt="Generic placeholder thumbnail" height="200" width="200">
            <h4>Label</h4>
            <span class="text-muted">Something else</span>
          </div>
          <div class="col-xs-6 col-sm-3 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                 class="img-responsive" alt="Generic placeholder thumbnail" height="200" width="200">
            <h4>Label</h4>
            <span class="text-muted">Something else</span>
          </div>
          <div class="col-xs-6 col-sm-3 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                 class="img-responsive" alt="Generic placeholder thumbnail" height="200" width="200">
            <h4>Label</h4>
            <span class="text-muted">Something else</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
