<aside>
  <!--<ul class="adminFaqs_items">
    <li ng-repeat="data in $ctrl.tree">
      <admin-faqs-tree-node item="data"
                            on-add="$ctrl.addNode($event)"
                            on-delete="$ctrl.deleteNode($event)">
      </admin-faqs-tree-node>
    </li>
  </ul>-->
  <pre ng-bind="$ctrl.questionTree | json"></pre>

  <ul class="list-group">
    <li class="list-group-item" ng-repeat="question in $ctrl.questionTree track by $index">
      <article ng-bind-html="question.answer"></article>
    </li>
  </ul>

</aside>