<aside>
  <pre>{{$ctrl.tree | json}}</pre>
  <ul>
    <li ng-repeat="data in $ctrl.tree" ng-include="'tree_item_renderer.html'"></li>
  </ul>
</aside>

<script type="text/ng-template" id="tree_item_renderer.html">
  {{data.name}}
  <button ng-click="$ctrl.addNode(data)">Add node</button>
  <button ng-click="$ctrl.deleteNode(data)" ng-show="data.nodes.length > 0">Delete nodes</button>
  <ul>
    <li ng-repeat="data in data.nodes"
        ng-include="'tree_item_renderer.html'"></li>
    <button ng-show="data.nodes.length > 0"
          ng-click="$ctrl.deleteCurrentNode(data)">X</button>
  </ul>
</script>